$primaryColor: #f00 !default;
$progressBg: rgba(255, 255, 255, .2) !default;
$hoverBg: rgba(255, 255, 255, .2) !default;
$bufferBg: rgba(255, 255, 255, .2) !default;
$markerDotBg: #fff !default;
$heatMapHeight: 40px !default;

.ppbar {
  --primary-color: #{$primaryColor};

  position: relative;
  width: 100%;
  touch-action: none;
  color: #fff;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout:none;
  -webkit-tap-highlight-color: transparent;

  @media not all and (hover: none) {
    &:hover &_chapter_i_w {
      transform: scaleY(1.5);
    }
  
    &:hover &_chapter_i_h {
      opacity: 1;
    }
  
    &:hover &_marker_i_d {
      transform: scale(2.5) translate(-50%, -50%);
    }
  
    &:hover &_heat {
      transform: translateY(-0.85px);
    }
  
    &:hover &_heat-hover {
      opacity: 1 !important;
    }

    &:hover &_thumb {
      display: block;
    }

    &_dot {
      opacity: 0;
      &_i {
        width: 15px;
        height: 15px;
      }
    }

    &:hover &_dot {
      opacity: 1;
    }
  }


  &_chapter {
    display: flex;
    position: relative;
    gap: 2px;
    transition: transform .12s ease;

    &_i {
      padding: 6px 0;
      flex: 1;

      &_w {
        position: relative;
        height: 4px;
        background: $progressBg;
        transition: transform .12s ease;
        overflow: hidden;

        > div {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      &_p, &_h, &_b {
        width: 100%;
        height: 100%;
        transform-origin: 0 0;
      }

      &_h {
        background: $hoverBg;
        opacity: 0;
      }

      &_p {
        transform: scaleX(0);
        background: $primaryColor;
        background: var(--primary-color);
      }

      &_b {
        transform: scaleX(0);
        background: $bufferBg;
      }
    }
  }

  &_marker {
    transition: opacity .12s ease;

    &-hover {
      opacity: 0;
    }

    &_i {
      position: absolute;
      bottom: 100%;
      transform: translateX(-50%);

      &_d {
        position: absolute;
        left: 50%;
        bottom: -12.2px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: transform .12s ease;
        background: $markerDotBg;
        transform-origin: 0 0;
        pointer-events: none;
      }

      &_tip {
        position: absolute;
        bottom: 100%;
        font-size: 12px;
        border-radius: 2px;
        margin-bottom: 10px;
        padding: 3px 6px;
        white-space: nowrap;
        background: rgba(0, 0, 0, .7);
        pointer-events: none;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity .2s ease;
      }

      &:hover {
        z-index: 1;
      }

      &:hover &_tip {
        opacity: 1;
      }
    }

  }

  &_heat {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
    gap: 2px;
    height: $heatMapHeight;
    transition: transform .2s ease, opacity .12s ease;

    &-hover {
      opacity: 0;
    }

    &_i {
      flex: 1;
      height: 100%;

      svg {
        height: 100%;
      }
    }
  }

  &_dot {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: opacity .2s ease, transform .2s ease;
    transform-origin: 0 0;
    z-index: 1;

    > :first-child {
      transform: translate(-50%);
    }

    &_i {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $primaryColor;
      background: var(--primary-color);
    }
  }

  &_thumb {
    display: none;
    position: absolute;
    left: 0;
    bottom: 30px;
    font-size: 13px;
    font-weight: 500;
    text-align: center; 
    pointer-events: none;
    text-shadow: 0 0 4px rgb(0 0 0 / 75%);

    &_img {
      border: 1px solid #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-bottom: 2px;
      background-color: rgba(255, 255, 255, .3);
      background-repeat: no-repeat;
    }

    &_title {
      min-height: 17px;
      word-break: break-all;
    }
  }
}
